.signup-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #1d3557;
}

.signup-title {
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .signup-title {
    font-size: 3vw;
  }
}
